.carrusel{object-fit: cover;
    height: 500px;

}
.planta{
    background-color: rgb(115, 212, 115);
}
.veneno{
    background-color: rgb(184, 142, 224);
}
.agua{
    background-color: rgb(95, 165, 234);
}
.hada{
    background-color: pink;
}
.normal{
    background-color: gray;
}
.hielo{
    background-color: rgb(43, 234, 241);
}
.lucha{
    background-color: orange;
}