.carrusel{object-fit: cover;
    height: 500px;

}
.planta{
    background-color: rgb(115, 212, 115);
}
.veneno{
    background-color: rgb(184, 142, 224);
}
.agua{
    background-color: rgb(95, 165, 234);
}
.hada{
    background-color: pink;
}
.normal{
    background-color: gray;
}
.hielo{
    background-color: rgb(43, 234, 241);
}
.lucha{
    background-color: orange;
}
ul{
    list-style: none;
}
.version{
    width: 400px;
    border-radius: 10px;
    color: whitesmoke;
}
li{
    margin-top: 10px;
}
.evolucionpokemon{
    background-color: rgb(150, 148, 148);
    border-radius: 10px;
    justify-content: center;
}
@media all and (max-width: 767px){
    .version{
        width: 300px;
        border-radius: 10px;
        color: whitesmoke;
    }
    body{text-align: center;}  
}